In [2]:
# Question 1
ages = [ 19, 22, 19, 24, 20, 25, 26, 24, 25, 24 ]

In [3]:
ages.sort()
print(ages)
# print min value
print(ages[0])
# maximum value
print(ages[-1])

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26

In [9]:
# median
middle_index = int(len(ages)/2)
median = (ages[middle_index] + ages[middle_index + 1]) / 2
print(median)

24.0

In [11]:
# average
print(sum(ages)/len(ages))

22.8

In [13]:
# range 
print(ages[-1]-ages[0])

7

In [14]:
 dog = dict()

In [15]:
#Add name, color, breed, legs, age
dog['name'] = 'duva'
dog['color'] = 'black'
dog['breed'] = 'german shepperd'
dog['legs'] = 4
dog['age'] = '9 months'

dog

{'name': 'duva',
 'color': 'black',
 'breed': 'german shepperd',
 'legs': 4,
 'age': '9 months'}

In [16]:
# Student dict

student = dict()
student['first_name'] = 'Anh'
student['last_name'] = 'Nguyen'
student['gender'] = 'female'
student['age'] = 27
student['marital_status'] = 'married'
student['skills'] = ['detail orianted', 'smart', 'moto rider']
student['country'] = 'Vietnam'
student['city'] = 'Saigon'
student['address'] = '342 Distrcit 1'

student

{'first_name': 'Anh',
 'last_name': 'Nguyen',
 'gender': 'female',
 'age': 27,
 'marital_status': 'married',
 'skills': ['detail orianted', 'smart', 'moto rider'],
 'country': 'Vietnam',
 'city': 'Saigon',
 'address': '342 Distrcit 1'}

In [17]:
# length of student
print(len(student))

9

In [18]:
# type of student skills
print(type(student['skills']))

<class 'list'>

In [28]:
# adding to the list of skills
student['skills'].append('painter')
student['skills'].append('musician')
student['skills']

['detail orianted', 'smart', 'moto rider', 'painter', 'musician']

In [29]:
# get the keys
student.keys()

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'])

In [30]:
# print the values
student.values()

dict_values(['Anh', 'Nguyen', 'female', 27, 'married', ['detail orianted', 'smart', 'moto rider', 'painter', 'musician'], 'Vietnam', 'Saigon', '342 Distrcit 1'])

In [43]:
# creating tuples
brothers = ('david', 'manny', 'levi')
sisters = ('phuong', 'mary', 'dara')

In [44]:
# combining tuples
siblings = brothers + sisters
siblings

('david', 'manny', 'levi', 'phuong', 'mary', 'dara')

In [45]:
# lenght of siblings tuple list
len(siblings)

6

In [47]:
# adding mom and dad
siblings = list(siblings)
siblings.append('Aida')
siblings.append('Cecilio')
family_members = tuple(siblings)

In [49]:
family_members

('david', 'manny', 'levi', 'phuong', 'mary', 'dara', 'Aida', 'Cecilio')

In [50]:
# question 4
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [51]:
# length of it_companies
print(len(it_companies))

7

In [57]:
# adding in twotter
it_companies.add('Twitter')

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [60]:
# add multiple companies
it_companies.update(['RedHat', 'Oracle'])

In [61]:
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'RedHat',
 'Twitter'}

In [64]:
# remove item from set
it_companies.remove('Oracle')

In [65]:
# difference between remove and discard
# Discard will not raise an error if you 
#  attempt to remove a item from a set and it does not exist

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'RedHat',
 'Twitter'}

In [69]:
# join together two sets
C = A.union(B)

In [71]:
# finding a intersection B
D = A.intersection(B)

In [74]:
# determening subset
print(A.issubset(B))

True

In [76]:
# Checking to see if they are disjoints
print(A.isdisjoint(B))

False

In [80]:
# A union B
E = A.union(B)
E

{19, 20, 22, 24, 25, 26, 27, 28}

In [81]:
# B union A
F = B.union(A)
F

{19, 20, 22, 24, 25, 26, 27, 28}

In [88]:
# clearing A set
A.clear()
A

set()

In [87]:
# clearing B set
B.clear()
B

set()

In [89]:
# print length of set
print(len(set(ages)))

6

In [90]:
# print list
print(len(ages))
# the difference shown is that the set removes duplicate values

10

In [95]:
# Question 5
# calculate area
circle_r = 30

_area_of_circle = 3.14 * (circle_r)**2

_area_of_circle

2826.0

In [96]:
# calculate the circumference
_circum_of_circle = 2 * 3.14 * circle_r

_circum_of_circle

188.4

In [100]:
# get user input and calculate area 
circle_r = int(input("What will the radius be? "))
_area_of_circle = 3.14 * (circle_r)**2
_area_of_circle

What will the radius be? 155

75438.5

In [102]:
# find unique words count
sentence = "I am a teacher and I love to inspire and teach people"

print("Unique words count: ", len(set(sentence.split())))

Unique words count:  10

In [107]:
# using tab and newline to get expected output
print("Name\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinalnd\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finalnd	Helsinki

In [110]:
# string formatting
radius = 10
area = 3.14 * radius ** 2

print(f"The area of a circle with radius {radius} is {int(area)} meters square.")

The area of a circle with radius 10 is 314 meters square.

In [128]:

weights = list()
while True:
    weight = input("Input the weights, when done enter 'done 'to exit: ")
    if weight == 'done':
        break
    else:
        weights.append(int(weight))
def lb_to_kg(weight_lbs):
    kilograms = list()
    for weight in weight_lbs:
        converted = round(weight * 0.45359237, 2)
        kilograms.append(converted)
    return kilograms

lbs_to_kg = lb_to_kg(weights)

lbs_to_kg

Input the weights, when done enter 'done 'to exit: 4
Input the weights, when done enter 'done 'to exit: 5
Input the weights, when done enter 'done 'to exit: 6
Input the weights, when done enter 'done 'to exit: 7
Input the weights, when done enter 'done 'to exit: done

[1.81, 2.27, 2.72, 3.18]

In [ ]:
f = {"1": "circle", "2": "circle", "3": "cross", "6": "cross/coss"}